[defaults]
inventory         = inventory/hosts.ini
remote_user       = root
host_key_checking = False
forks             = 10
timeout           = 30
# Opciones de callback: yaml (legible), json, debug, minimal
stdout_callback   = yaml
deprecation_warnings = False

[privilege_escalation]
# become=False porque ya operamos como root en los nodos
become        = False
become_method = sudo
