
###############################################################
#   {{ motd_cluster_name | center(55) }}   #
###############################################################
#                                                             #
#  Host   : {{ inventory_hostname }}
#  IP     : {{ ansible_default_ipv4.address }}
#  OS     : {{ ansible_distribution }} {{ ansible_distribution_version }}
#  Kernel : {{ ansible_kernel }}
#  Stack  : {{ motd_version }}
#                                                             #
###############################################################
#  AVISO: Acceso autorizado unicamente.                       #
#  Toda actividad es monitoreada por Falco + Loki.            #
###############################################################

